---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import LinkButton from "../components/LinkButton.astro";
import links from "../lib/links";
import FeatureTile from "../components/FeatureTile.astro";
import cn from "../lib/cn";
import ExplanationTile from "../components/ExplanationTile.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<div class="min-h-screen flex flex-col items-center gap-6 grid-texture">
		<Navbar />

		<div
			class="flex flex-col items-center gap-2 text-center justify-center mx-8 h-[55vh]"
		>
			<h1 class="font-brand text-3xl font-light max-w-[750px]">
				A modern self-hosting experience for Minecraft
			</h1>
			<p class="font-sans max-w-[500px] font-light text-text-secondary">
				ScaffoldMC is being built from the ground up as the next generation
				server host for Minecraft Java and Bedrock.
			</p>

			<div class="flex flex-row items-center gap-2 mt-4">
				<LinkButton href={links.github} level="primary"
					>View on GitHub</LinkButton
				>
				<LinkButton href={links.discord}>Join the Discord</LinkButton>
			</div>
		</div>

		<div
			class="h-full flex flex-row flex-wrap items-start justify-between align-center gap-4 max-w-800 p-8 bg-surface"
		>
			<ExplanationTile title="What?">
				ScaffoldMC is a self-hosted web panel for creating and managing your
				Minecraft servers. If you want to host servers without the hosting fees
				or configuration headaches, this is for you! We aim to support both the
				Java and Bedrock editions of the game by release.
			</ExplanationTile>
			<ExplanationTile title="Why?">
				Existing server panels lack the polish and ecosystem integration that
				server owners deserve. We're building ScaffoldMC with user-friendliness
				in mind to make hosting Minecraft servers on your own hardware as easy
				as possible.
			</ExplanationTile>
		</div>

		<h2 class="text-center font-light my-2">Features</h2>
		<div
			class={cn(
				"h-full px-8 gap-6 pb-8",
				"grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3",
			)}
		>
			<FeatureTile title="Live Server Console">
				Access your server's console and send commands directly from the web
				interface.
			</FeatureTile>
			<FeatureTile title="Version Management">
				Change your game or mod loader version in just a few clicks.
			</FeatureTile>
			<FeatureTile title="Smart Binary Management">
				Centralized management of server binaries reduces disk usage by sharing
				them across multiple servers.
			</FeatureTile>
			<FeatureTile title="Automatic JVM Detection" subtext="(WIP)">
				ScaffoldMC automatically detects your installed Java versions and allows
				configuring JVM on a per-server basis.
			</FeatureTile>
			<FeatureTile title="Mod Management" subtext="(Planned)">
				Download and manage mods for your server directly from the panel with
				integration to popular modding repositories like Modrinth.
			</FeatureTile>
			<FeatureTile title="Server Backups" subtext="(Planned)">
				Backup your server on demand or on a schedule.
			</FeatureTile>
		</div>

		<div class="my-4">
			<h2 class="text-center font-light">Get Involved</h2>
			<p
				class="text-center text-text-secondary max-w-[750px] mx-auto mb-4 font-light"
			>
				ScaffoldMC is an open source project and contributions are welcome! That
				being said, the project is currently solo-developed, so please reach out
				on the <a href={links.discord} class="underline">Discord Server</a> before
				starting any work so we can align our efforts.
			</p>
		</div>

		<Footer />
	</div>
</Layout>
