---
const { title, subtext } = Astro.props;
---

<div
	class="relative overflow-hidden flex flex-col flex-1 shrink-1 basis-3xs items-start gap-2 rounded-lg p-4 bg-surface"
>
	<h3 class="font-brand text-lg font-light">{title}</h3>
	<p class="font-sans text-text-secondary text-sm font-light"><slot /></p>
	<span class="text-xs text-text-tertiary mt-auto">{subtext || ""}</span>
</div>
