---
const year = new Date().getFullYear();
---

<div class="bg-background h-24 flex flex-col p-4 items-center gap-2 w-screen">
	<span class="text-sm font-brand text-text-secondary font-light">
		&copy; {year} ScaffoldMC Contributors
	</span>
	<span class="text-xs text-text-tertiary font-light">
		Minecraft is a trademark of Mojang AB. ScaffoldMC is not affiliated with or
		endorsed by Mojang or Microsoft.
	</span>
</div>
