---
import { cva } from "class-variance-authority";
import cn from "../lib/cn";

export interface LinkButtonProps {
	href: string;
	level?: "primary" | "secondary";
}

const { href, level }: LinkButtonProps = Astro.props;

const btnClassGenerator = cva(
	cn(
		"flex flex-row p-2 px-3 rounded-full",
		"font-brand text-sm font-normal",
		"transition-[background-color,border-color,color] duration-100 ease-in-out",
	),
	{
		variants: {
			level: {
				primary:
					"bg-brand hover:bg-brand-dark text-text-dark-primary font-semibold",
				secondary: "bg-surface hover:bg-surface-overlay",
			},
		},
		defaultVariants: {
			level: "secondary",
		},
	},
);

const className = btnClassGenerator({ level });
---

<a class={className} href={href}>
	<slot />
</a>
