<div class="w-full h-16 flex items-center justify-between px-6">
	<img src="/logo.svg" alt="ScaffoldMC Logo" class="h-10" />
	<div class="flex items-center gap-4">
		<a href="#features" class="font-sans text-sm font-light hover:underline">
			Features
		</a>
		<a href="#contact" class="font-sans text-sm font-light hover:underline">
			Contact
		</a>
	</div>
</div>
